[tool.black]
line-length = 120
target-version = ['py38', 'py39', 'py310']
include = '\.pyi?$'
exclude = '''
(
  /(
    # exclude a few common directories in the root of the project
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | venv
    | \.pytype
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.pycln]
all = true
exclude = "monai/bundle/__main__.py"

[tool.ruff]
line-length = 133
ignore-init-module-imports = true
ignore = ["F401", "E741"]
